<html>
  <head>
    <title>Task Lists</title>
  </head>
  <body>
    {% if request.user.is_authenticated %}
    <h2>Welcome, {{ request.user.username }}</h2>
    <p>You have {{ count }} completed tasks.</p>

    <form action="{% url 'logout' %}" method="post" style="display: inline">
      {% csrf_token %}
      <button type="submit">Logout</button>
    </form>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    {% endif %}

    <h1>Task List {{color}}</h1>
    <a href="{% url 'task_create'%}">Add Task</a>
    <ul>
      {% for task in tasks %}
      <li>{{ task.title }}</li>
      <li><a href="{% url 'task_detail' task.id %}">View</a></li>
      <li><a href="{% url 'task_update' task.id %}">Edit</a></li>
      <li><a href="{% url 'task_delete' task.id %}">Delete</a></li>
      {% empty %}
      <li>No tasks found.</li>
      {% endfor %}
    </ul>
  </body>
</html>
